body{
  margin: 0px;

}
.top-header{
  background: #2d252d;
  padding-top: 65px;
  padding-bottom: 80px;
  margin-bottom: 45px;
  width: 1200px;
  height: 300px;
  vertical-align: middle;
  
}
.contener{
  width: 1100px;
  margin: auto;
}

.all-raps{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
}

.heading-info{
  width: 480px;
}

.heading-info h1{
  font-size: 60px;
  font-weight: 700;
  color: azure;
  line-height: 80px;
  margin-bottom: 5px;

}

.header-banner img{
  height: 360px;
  width: 470px;
}

.live-fb{
  background: red;
  width: 160px;
  height: 44px;
  color: antiquewhite;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: 1s;
  border-radius: 10px;
}

.live-fb h4{
  padding-top: 11px;
}

.aro-ki{
  margin-left: 5px;
}

.live-fb:hover{
  background: white;
  cursor: pointer;
  color: red;
  margin: 25px;
}

.all-players{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.player{
  width: 330px;
  padding: 0px;
  box-shadow: 2px 6px 8px 6px #dbd9dd;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 30px;
}

.player img{
  width: 330px;
  border-radius: 6px;
}

.player-info button{
  color: whitesmoke;
  background-color: red;
  border-radius: 4px;
  margin-left: 10px;
}

.icon{
  margin: 5px;
  font-size: 12px;
  
}

.footer{
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.footer-menu a{
  display: inline;
 margin: 15px 26px;
 font-size: 1rem;
 color: azure;
 text-decoration: none;
}

.footer::after{
  display: table;
   content: '';
  clear: both;
}

..footer-menu a:hover{
  color: coral;
}

.footer-card{
  width: 150px;
  height: 170px;
  text-align: center;
  font-size: 60px;
  text-decoration: none;
  color: white;
 
}

.footer-desc{
  display: inline;
  size: 20px;
  width: 130px;
  height: 120px;
}